dogguesser_backend/appsettings.json
dogguesser_backend/obj/
dogguesser_backend.Tests\coveragereport
dogguesser_backend/appsettings.json

dogguesser_backend/Migrations
dogguesser-frontend/App/node_modules
dogguesser-frontend/App/dist
dogguesser-frontend/App/.parcel-cache
dogguesser-frontend/App/package-lock.json
dogguesser_backend\appsettings.json
dogguesser_backend/bin/
dogguesser_backend\bin
dogguesser_backend.Tests/coveragereport
dogguesser_backend.Tests/bin
dogguesser_backend.Tests/obj
/dogguesser_backend/appsettings.Development.json
/dogguesser_backend/appsettings.json
/dogguesser-frontend/App/.env
/dogguesser-frontend/App/coverage